
body {
  padding-top: 56px;
}


   nav section ul li.nav-item.dropdown div.dropdown-menu{
   	background-color: #43b0dd;
   	opacity: 0.90;
   }


 nav section ul li.nav-item.dropdown div.dropdown-menu a.dropdown-item:hover {
   	background: linear-gradient(#43b0dd,#168396);
   	opacity: 0.90;
   }
   .dropdown:hover > .dropdown-menu{
	display:inline-block;
   
   }
   form{
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color:gray;
    border-radius: 25px;
   }
   .form-header{
     padding:20px;
     margin: 20px auto;
     color: white;
   }
   label{
     color:lightskyblue;
   }



